<section class="section self-check" id="physical">
  <div class="container-fluid">
    <div class="row">
      <div class="item basic">
        <div class="col">
          <label for=""><i class="fas fa-user-circle"></i> {{user_info.name}} </label>
        </div>
        <div class="col gender">
          <label for=""> 性別 <i class="fas fa-male"></i> <i class="fas fa-female"></i></label>
          <div v-if =" Gender === '' || Gender === null " class="select is-danger">
            <select v-model="Gender">
              <option>男性</option>
              <option>女性</option>
            </select>
          </div>
          <div v-else  class="select is-success">
            <select v-model="Gender">
              <option>男性</option>
              <option>女性</option>
            </select>
          </div>
        </div>
        <div class="col age">
          <label for=""> 年齡（歲） </label>
          <input v-if =" Age === '' || Age === null " class="input is-danger"  v-model="Age" type="text" placeholder="年齡是秘密">
          <input v-else class="input is-success" v-model="Age" type="text" placeholder="年齡是秘密">   
        </div>
        <div class="col height">
          <label for=""> 身高（公分） <i class="fas fa-ruler-vertical"></i> </label>
          <input v-if ="Height === '' || Height === null  " class="input is-danger"  v-model="Height" type="text" placeholder="輸入公分喔!">
          <input v-else class="input is-success"  v-model="Height" type="text" placeholder="輸入公分喔!">
        </div>
        <div class="col weight">
          <label for=""> 體重（公斤） <i class="fas fa-weight"></i> </label>
          <input v-if =" Weight === '' || Weight === null " class="input is-danger"  v-model="Weight" type="text" placeholder="輸入公斤喔!">
          <input v-else class="input is-success"  v-model="Weight" type="text" placeholder="輸入公斤喔!">
        </div>   
        <div class="col button-group">
          <button class="button is-success is-light" @click="lookfor"> <i class="fas fa-id-card-alt"></i>  檢測 </button>
          <button class="button is-info is-light" @click="update"><i class="fas fa-pen"></i>  更新個人資料</button>
        </div>
      </div>
      <div class="item result" v-show="showResult">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col" style="font-size: large;">初步檢測結果</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" v-if = "BMI !== ''">BMI數值</th>
              <td>{{BMI}}</td>
            </tr>
            <tr>
              <th scope="row" v-if = "BMI_range !== ''">BMI數值結果評估</th>
              <td>{{BMI_range}} </td>
            </tr>
            <tr>
              <th scope="row" v-if = "Ree !== ''">基礎代謝率(大卡)</th>
              <td>{{Ree}}</td>
            </tr>
            <tr>
              <th scope="row"  v-if = "BMR !== ''">每天最少消耗熱量(大卡)</th>
              <td>{{BMR}}</td>
            </tr>
          </tbody>
        </table>
        <div class="col more">
          <span class="more-text" v-if = "BMR !== ''"> 測量更精確的身體密碼 </span>
          <button v-if = "BMR !== ''" class="button is-success  is-light is-rounded" @click="more">MORE</button>
        </div>
      </div>
      <div class="item deeper-check" v-show="showResult && moreshow">
        <div v-show="moreshow" class="col">
          <label class="title" for="">平常運動習慣</label>
          <br>
          <input type="radio" id="s-one" value="久坐" v-model="sportintention">
          <label for="s-one">久坐</label>
          <br>
          <input type="radio" id="s-two" value="輕量活動" v-model="sportintention">
          <label for="s-two">輕量活動</label>
          <br>
          <input type="radio" id="s-three" value="中度活動" v-model="sportintention">
          <label for="s-three">中度活動</label>
          <br>
          <input type="radio" id="s-four" value="高強度活動" v-model="sportintention">
          <label for="s-four">高強度活動</label>
          <br>
          <input type="radio" id="s-five" value="極高強度活動" v-model="sportintention">
          <label for="s-five">極高強度活動</label>
          <br>
          <span>運動取向: {{exercise_choice }} </span>
        </div>
        <div v-show="moreshow" class="col">
          <label for="">飲食取向!</label>
          <br>
          <input type="radio" id="one" value="維持體重" v-model="eatintention">
          <label for="one">維持體重</label>
          <br>
          <input type="radio" id="two" value="增加肌肉" v-model="eatintention">
          <label for="two">增加肌肉</label>
          <br>
          <input type="radio" id="three" value="減少脂肪" v-model="eatintention">
          <label for="three">減少脂肪</label>
          <br>
          <span>飲食取向: {{ food_choice  }} </span>
        </div>
        <div v-show="moreshow" class="col">
          <label  v-if = "exercise_choice === '' &&  food_choice !== '' " for=""> 根據飲食習慣更精確的熱量: <p>{{TDEE}}</p> 大卡</label>
          <button v-if= "exercise_choice === '' &&  food_choice !== '' " class="button is-danger is-small is-rounded is-light" @click="add_tdee"><i class="fas fa-thumbtack"></i></button>
          <label  v-if = "exercise_choice !== '' &&  food_choice === '' " for=""> 根據運動習慣更精確的熱量: <p>{{TDEE}}</p> 大卡</label>
          <button v-if= "exercise_choice !== '' &&  food_choice === '' " class="button is-danger is-small is-rounded is-light" @click="add_tdee"><i class="fas fa-thumbtack"></i></button>
          <label  v-if = "exercise_choice !== '' &&  food_choice !== '' " for=""> 根據運動及飲食習慣更精確熱量值:<p>{{TDEE}}</p>大卡</label>
          <button v-if= "exercise_choice !== '' &&  food_choice !== '' " class="button is-danger is-small is-rounded is-light" @click="add_tdee"><i class="fas fa-thumbtack"></i></button>
        </div>
      </div>
    </div> 
  </div> 
</section>

