<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>認識自己</title>
</head>
<body>
     <div id="physical">
        <div class="container">
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
              <div class="col-md-6 mb-3">
             <label for=""> Height : <i class="fas fa-ruler-vertical"></i> </label>
             <input class="input is-success"  v-model="Height" type="text" placeholder="輸入公分喔!">
              </div>
              <div class="col-md-6 mb-3">
             <label for=""> Weight : <i class="fas fa-weight"></i> </label>
             <input class="input is-success"  v-model="Weight" type="text" placeholder="輸入公斤喔!">
              </div>
              <div class="col-md-6 mb-3">
                <label for=""> Gender : <i class="fas fa-male"></i> <i class="fas fa-female"></i> </label>
                <div class="select is-success" >
                <select v-model="Gender">
                    <option v-for="option in Genders" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for=""> Age : </label>
                <input class="input is-success"  v-model="Age" type="text" placeholder="年齡是秘密">    
              </div>
              <div class="col-md-6 mb-3">
              <button class="button is-success is-light" @click="lookfor"> <i class="fas fa-id-card-alt"></i> Check </button>
              </div>
            </div>
            <div class="col">
              <div class="col-md-6 mb-3">
              <label v-if = "BMI !== ''" for=""> 看看自己的BMI囉 : {{BMI}} </label>
              </div>
              <div class="col-md-6 mb-3">
              <label v-if = "BMI_range !== ''" for=""> BMI是不是符合預期呢: {{BMI_range}} </label>
              </div>
              <div class="col-md-6 mb-3">
              <label v-if = "Ree !== ''" for=""> 基礎代謝率長知識! {{Ree}} 大卡 </label>
              </div>
              <div class="col-md-6 mb-3">
              <label v-if = "BMR !== ''" for=""> 根據上述資料，每天最少消耗熱量如下: {{BMR}} 大卡 </label>
              </div>
              <div class="col-md-6 mb-3">
                <label v-if = "BMR !== ''" for=""> 想知道Pro's 熱量資訊嗎!! 請按 more  </label>
                <button v-if = "BMR !== ''" class="button is-danger  is-light is-rounded" @click="more">more</button>
              </div>
              <div v-show="moreshow" class="col-md-6 mb-3">
                  <label for="">選擇一下平常的運動習慣運動習慣!</label>
                  <br>
                  <input type="radio" id="s-one" value="久坐" v-model="sportintention">
                  <label for="s-one">久坐</label>
                  <br>
                  <input type="radio" id="s-two" value="輕量活動" v-model="sportintention">
                  <label for="s-two">輕量活動</label>
                  <br>
                  <input type="radio" id="s-three" value="中度活動" v-model="sportintention">
                  <label for="s-three">中度活動</label>
                  <br>
                  <input type="radio" id="s-four" value="高強度活動" v-model="sportintention">
                  <label for="s-four">高強度活動</label>
                  <br>
                  <input type="radio" id="s-five" value="極高強度活動" v-model="sportintention">
                  <label for="s-five">極高強度活動</label>
                  <br>
                  <span>運動取向: {{exercise_choice }} </span>

              </div>
              <div v-show="moreshow" class="col-md-6 mb-3">
                  <label for="">飲食取向!</label>
                  <br>
                  <input type="radio" id="one" value="維持體重" v-model="eatintention">
                  <label for="one">維持體重</label>
                  <br>
                  <input type="radio" id="two" value="增加肌肉" v-model="eatintention">
                  <label for="two">增加肌肉</label>
                  <br>
                  <input type="radio" id="three" value="減少脂肪" v-model="eatintention">
                  <label for="three">減少脂肪</label>
                  <br>
                  <span>飲食取向: {{ food_choice  }} </span>
              </div>
              <div v-show="moreshow" class="col-md-6 mb-3">
                   <h2>根據活動及飲食有更精確的熱量值唷:{{TDEE}} 大卡</h2>
              </div>
              </div>
            </div>  
        </div>
     </div>
</body>
</html>
