<%= javascript_pack_tag 'bmi', 'data-turbolinks-track': 'reload' %>

<h1 class="h1">test</h1 cloa>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-2">
      <input type="text" name="height" placeholder="cm" class="cm form-control">
      <br>
      <input type="text" name="weight" placeholder="kg" class="kg form-control">
      <br>
      <button class="btn btn-primary submit" type="submit">確認過眼神</button>
      <div class="box card"></div>
    </div>
  </div>
</div>