<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily record</title>
</head>
<body>
     <a href="">History record</a>
     <div class="container">
           <input type="text" placeholder="Type your food">
     <button type="submit">Add New Record</button>
     <button type="button">Add New Food Record</button>    
     </div>

</body>
</html>