 <section class="section sport" id="sport">
  <div class="container-fluid" >
    <div class="row full">
      <div class="col-md-6 select-sport">
        <div class="col-md-6 mb-3 sport_usr_name ">
         <div class="sport-user-name">
          <i class="fas fa-user-circle"></i>{{user_info.name}}</div>
         </div>
        <div class="input-group sport-rwd">
          <input type="text" class="form-control" v-model="message" placeholder="紀錄運動燃燒卡洛里">
          <div class="input-group-append">
            <button type="button" class="btn btn-success" @click="submit"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <div class="col table-sm">
          <table v-if='search_status===true'  class="table table-hover table-striped" id="query-sport">
            <tr class="rwd-sport-query">
              <td colspan="2" width="100px"> 輸入運動時間:</td>
              <td  colspan="2"> <input class="input is-primary" v-model="min" type="number" placeholder="誠實的打下去"></td>
            </tr>
            <tr class="rwd-sport-query">
              <td colspan="2" width="100px"> 您的體重:</td>
              <td  colspan="2"> <input class="input is-danger"  v-model="weight" type="number" placeholder="不能說的秘密" disabled="disabled"></td>
            </tr>
          </table>
          <table v-if='search_status===true'  class="table table-hover table-striped" id="query-sport">
            <thead>
              <tr>
                <th colspan="4"><i class="fas fa-running"></i>  運動30分鐘所消耗熱量(60kg為例) 單位: 大卡</th>
                <th class="sport-index" colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="title-sport bg-success">
                <td class="sport-index"> <i class="fas fa-list-alt"></i> </td>
                <td> 運動項目 </td>
                <td> 甩多少 </td>
                <td class="user-weight"> 體重   </td>
                <td class="user-sport-min"> 奮鬥時間</br>(分鐘) </td>
                <td> 預計成果 </td>
                <td class="query-sport-item" width="80px"> 記起來! </td>
              </tr>
              <tr v-for="(sport, idx) in sports" class="table-secondary">
                <td class="sport-index">{{idx+1}}</td>
                <td class="sport-item">{{sport.name}}</td>
                <td >{{sport.consume_60kg}}</td>
                <td class="user-weight" width="80px"> <input class="input is-danger"  v-model="weight" type="number" placeholder="不能說的秘密" disabled="disabled"></td>
                <td class="user-sport-min" width="110px"> <input class="input is-primary" v-model="min" type="number" placeholder="誠實的打下去"></td>
                <td :keyup="consume">{{sport.computed}}</td>
                <td class="query-sport-item" width="80px" >
                  <button @click="sport_record(idx)"  class="button is-success is-small is-light"> <i class="fas fa-plus-circle"> </i></button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <td colspan="1"> </td>
              <th class="sport-index" colspan="3"></th>
              <td align="right" colspan="3"> <button @click="end_search" class="button is-danger is-small is-light">結束紀錄表</button></td>
            </tfoot>
          </table>
        </div>
      </div> 
      <div class="col-md-6 daily-record">
        <div class="row sport-record">
          <h2 class="title sport-record"> 今日運動紀錄狀態 <i class="far fa-clipboard"></i> </h2>
          <div v-if="member_status === true" class="daily_sport_status">
            <table class="control_fit_sport_record">
              <thead>
                <th colspan="3" scope="col"> ControlFit - 運動紀錄使用須知 <i class="far fa-comment-dots" @click="sport_user_guide"></i> </th>
               </thead>
              <tbody v-show="noticeshow === true">
                <tr>
                  <th> STEP1: </th>
                  <td> 請使用者先註冊或登入。</td>
                </tr>
                <tr>
                  <th> STEP2: </th>
                  <td> 藉由搜尋列搜尋運動，並輸入運動分鐘加至每日記錄。</td>
                </tr>
                <tr>
                  <th> STEP3: </th>
                  <td> 若對登入紀錄有疑慮可直接編輯/刪除這筆紀錄資料。</td>
                </tr>
             </tbody>
            </table>
            <table class="table user-sport-info">
              <thead>
                <th  colspan="1" scope="col">  <i class="far fa-address-card"></i>  {{user_info.name}}</th>
                <th align="right" colspan="1" scope="col"> <i class="fas fa-clock"></i>:  {{currentTime}}</th>
                <th align="right" colspan="1" scope="col"> <i class="fas fa-calendar-day"></i> :  {{currentDay}}</th>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><i class="fas fa-clipboard-list"></i> : 今日運動紀錄</th>
                  <td>共 : {{daily_count}} 筆 </td>
                  <td>共燃燒: <i class="fas fa-fire sport_fire"></i>  {{daily_sum}} 大卡 
                    <button class="button is-link is-small is-light is-rounded" @click="more_record">  <i class="fas fa-comment-dots sport_more"></i>MORE</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table user-sport-info rwd">
              <thead>
                <th  colspan="1" scope="col">  <i class="far fa-address-card"></i>  {{user_info.name}}</th>
                <th align="right" colspan="3" scope="col"> <i class="fas fa-clock"></i>:  {{currentTime}}</th>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><i class="fas fa-clipboard-list"></i> : 運動紀錄</th>
                  <td align="right"> {{daily_count}} 筆</td>
                </tr>
                <tr>
                  <th scope="row"><i class="fas fa-fire sport_fire"></i>  : 燃燒</th>
                  <td align="right"> {{daily_sum}} 大卡</td>
                </tr>
                <tfoot>
                  <td align="right" colspan="2"> <button class="button is-link is-small is-light is-rounded" @click="more_record">  <i class="fas fa-comment-dots sport_more"></i>MORE</button></td>
                </tfoot>
              </tbody>
            </table>
          </div>
          <div v-else class="daily_sport_status">
             <div class="sport-un-sign-status">
              <p> 親愛的使用者您好:</br>
                  您目前狀態 : <div class="un-sign-status">尚未註冊</div>或<div class="un-sign-status">登入</div>。</br>
                可以透過按下 <%= link_to "註冊", new_member_registration_path %> 
                或是 <%= link_to "登入", new_member_session_path %> 使用運動紀錄功能。
              </p>
              <table class="control_fit_sport_record">
                <thead>
                  <th colspan="3" scope="col"> ControlFit - 運動紀錄使用須知 <i class="far fa-comment-dots" @click="sport_user_guide"></i> </th>
                 </thead>
                <tbody v-show="noticeshow === true">
                  <tr>
                    <th> STEP1: </th>
                    <td> 請使用者先註冊或登入。</td>
                  </tr>
                  <tr>
                    <th> STEP2: </th>
                    <td> 藉由搜尋列搜尋運動，並輸入運動分鐘加至每日記錄。</td>
                  </tr>
                  <tr>
                    <th> STEP3: </th>
                    <td> 若對登入紀錄有疑慮可直接編輯/刪除這筆紀錄資料。</td>
                  </tr>
               </tbody>
              </table>
             </div>
          </div>
          <div class="col actual-record">
            <table v-if="daily_record_status === true" class="table table-hover" id="record-sport">
              <thead>  
                <tr>
                  <th colspan="2"> <i class="fas fa-clipboard-list"></i> : 今日運動紀錄 </th>
                  <!-- <th class="sport-index" colspan="1"></th> -->
                  <th align="right" colspan="2"> <i class="far fa-grin-beam-sweat"></i> 總共燃燒 : <span class="total-calory">{{daily_sum}}</span> 大卡 </th>
                </tr>
              </thead>
              <tbody>  
                <tr class="sport-daily-reocrd">
                  <th class="sport-index"> # </th>
                  <th class="sport-record-time"> 紀錄時間 </th>
                  <th class="sport-item"> 運動項目 </th>
                  <th class="sport-time"> 奮鬥時間 </th>
                  <th class="sport-cousme"> 燃燒值   </th>
                  <th class="sport-honest"> 誠實豆沙包</th>
                </tr>
                <tr v-for="(record, index) in daily_sport" class="sport-daily-reocrd-cotent">
                  <td class="sport-index">{{index+1}}</td>
                  <td class="sport-record-time">{{record.created_at}}</td>
                  <td class="sport-item">{{record.name}}</td>
                  <td class="sport-time" v-if="editstatus[index] !== true">{{record.min}}</td>
                  <td class="sport-time" width="110px" v-else ><input class="input is-primary" v-model= "daily_sport[index].min" type="number" placeholder=""></td>
                  <td class="sport-cousme">{{record.totalconsum}}</td>
                  <td class="sport-honest" width="120px">
                    <button v-if="editstatus[index] === false"@click="edit_record(index)" class="button is-warning is-small is-light"> <i class="fas fa-pencil-alt"> </i></button>
                    <button v-if="editstatus[index] === true" @click="update_record(index)"class="button is-success is-small is-light"> <i class="fas fa-save"></i></button>
                    <button @click="delete_record(index)"class="button is-danger is-small is-light"> <i class="fas fa-trash"> </i></button>
                  </td>                 
                </tr>
              </tbody>
              <tfoot>
                  <td  class="sport-index" colspan="2"></td>
                  <td colspan="4"></td>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="sportextend">

      </div>
    </div>
  </div>  
</section>


