 <div class="container" >  

  <div id="app">
    <div class="columns">
      <div class="column is-2">
        <input class="input" type="text" v-model="message" placeholder="來個運動吧">
      </div>
      <div class="column is-1">
        <button class="button is-success" @click="submit">Search</button>
      </div>
      <div class="column is-9">
            <table class="table table-hover" id="query-sport">
        <thead>
          <tr>
            <th scope="col"></i></th>
            <th scope="col"><i class="fas fa-running"></i></th>
            <th colspan="4">運動30分鐘所消耗熱量(60Kg為例) 單位:大卡</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> # </td>
            <td> 運動項目 </td>
            <td> 燃燒多少 </td>
            <td> 體重   </td>
            <td> 你奮鬥多久(min) </td>
            <td> 成果再這邊 </td>
            <td> 記起來!!! </td>
          </tr>
          <tr v-for="(sport, idx) in sports" >
            <td>{{idx+1}}</td>
            <td>{{sport.name}}</td>
            <td>{{sport.consume_60kg}}</td>
            <td> <input class="input is-danger"  v-model="weight" type="password" placeholder="不能說的秘密"></td>
            <td> <input class="input is-primary" v-model="min"    type="number" placeholder="誠實的打下去"></td>
            <td>{{sport.computed}}</td>
            <td><button type="submit"  class="fas fa-plus-circle"  ></button></td>
          </tr>
        </tbody>
            </table>  
      </div>  

    </div>
    </div>
    </div>
  </div>
</div>



