<section class="sectioin sport" id="sport">
  <div class="container-fluid" >
    <div class="row full">
      <div class="col-md-4 select-sport">
        <div class="col-md-6 mb-3"><i class="fas fa-user-circle"></i>  {{user_info.name}} </div>
        <span class="sport-sub">運動燃燒的卡路里:</span>
        <div class="input-group">
          <input type="text" class="form-control" v-model="message" placeholder="來個運動">
          <div class="input-group-append">
            <button type="button" class="btn btn-success" @click="submit"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div> 
      <div class="col-md-8 daily-record">
        <div class="row sport-record">
          <h2 class="title"> 今日運動狀態點將錄 <i class="far fa-clipboard"></i> </h2>
          <div class="daily_sport_status">
            <table class="table user-sport-info">
              <thead>
                <th colspan="2" scope="col">  <i class="far fa-address-card"></i>  {{user_info.name}}</th>
                <th colspan="1" scope="col"> <i class="fas fa-clock"></i>:  {{currentTime}}</th>
              </thead>
              <tbody>
                <tr>
                  <td colspan="3"><i class="fas fa-calendar-day"></i> :  {{currentDay}}</td> 
                </tr> 
                <tr>
                  <th scope="row"><i class="fas fa-clipboard-list"></i> : 今日運動點將錄</th>
                  <td>共 : {{daily_count}} 筆 </td>
                  <td>共燃燒: <i class="fas fa-fire sport_fire"></i>  {{daily_sum}} 大卡 
                    <button class="button is-link is-small is-light is-rounded" @click="more_record">  <i class="fas fa-comment-dots sport_more"></i>MORE</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col table-sm">
            <table v-if='search_status===true'  class="table table-hover table-striped" id="query-sport">
              <thead>
                <tr>
                  <th colspan="5"><i class="fas fa-running"></i>  運動30分鐘所消耗熱量(60kg為例) 單位: 大卡</th>
                </tr>
              </thead>
              <tbody>
                <tr class="title-sport bg-success">
                  <td> <i class="fas fa-list-alt"></i> </td>
                  <td> 運動項目 </td>
                  <td> 甩多少 </td>
                  <td> 體重   </td>
                  <td> 奮鬥時間<br>(分鐘) </td>
                  <td> 預計成果 </td>
                  <td> 記起來! </td>
                </tr>
                <tr v-for="(sport, idx) in sports" class="table-secondary">
                  <td>{{idx+1}}</td>
                  <td>{{sport.name}}</td>
                  <td>{{sport.consume_60kg}}</td>
                  <td width="80px"> <input class="input is-danger"  v-model="weight" type="number" placeholder="不能說的秘密" disabled="disabled"></td>
                  <td width="110px"> <input class="input is-primary" v-model="min" type="number" placeholder="誠實的打下去"></td>
                  <td :keyup="consume">{{sport.computed}}</td>
                  <td><button @click="sport_record(idx)"  class="fas fa-plus-circle"></button></td>
                </tr>
                <tfoot>
                  <td colspan="6"> </td>
                  <td> <button @click="end_search" class="button is-danger is-big is-light">結束紀錄表</button></td>
                </tfoot>
              </tbody>
            </table>
          </div>
          <div class="col actual-record">
            <table v-if="daily_record_status === true" class="table table-hover" id="record-sport">
              <thead>  
                <tr>
                  <th colspan="4"> <i class="fas fa-clipboard-list"></i> : 今日運動點將錄 </th>
                  <th colspan="2"> <i class="far fa-grin-beam-sweat"></i> 總共燃燒 : <span class="total-calory">{{daily_sum}}</span> 大卡 </th>
                </tr>
              </thead>
              <tbody>  
                <tr class="bg-info">
                  <th> # </th>
                  <th> 紀錄時間 </th>
                  <th> 運動項目 </th>
                  <th> 奮鬥時間 </th>
                  <th> 燃燒值   </th>
                  <th> 誠實豆沙包</th>
                </tr>
                <tr v-for="(record, index) in daily_sport" class="table-primary">
                  <td>{{index+1}}</td>
                  <td>{{record.created_at}}</td>
                  <td>{{record.name}}</td>
                  <td v-if="editstatus[index] !== true">{{record.min}}</td>
                  <td width="110px" v-else ><input class="input is-primary" v-model= "daily_sport[index].min" type="number" placeholder=""></td>
                  <td>{{record.totalconsum}}</td>
                  <td>
                    <button @click="edit_record(index)" class="button is-warning is-small is-light"> <i class="fas fa-pencil-alt"> </i></button>
                    <button v-if="editstatus[index] === true" @click="update_record(index)"class="button is-success is-small is-light"> <i class="fas fa-save"></i></button>
                    <button @click="delete_record(index)"class="button is-danger is-small is-light"> <i class="fas fa-trash"> </i></button>
                  </td>                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>

