<footer class="section footer">
  <div class="col-12 footers">
    <div class="footer-links">
      <a href="https://github.com/AstroCamp3rd-Demo/ControlFit"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-copyright">
      Copyright © 2020 健康管家公司 保留一切權利。
    </div>
  </div>
</footer>