<footer class="section footer">
  <div class="footers">
    <div class="clo-12">
      <div class="row">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
          Copyright © 2020 健康管理公司 保留一切權利。
        </div>
    </div>
  </div>
</footer>