<% @member ||= current_member %>
<div class="community d-flex ">
  <span class="following">
    <a href="<%= following_member_path(id: @member.id) %>">
      <strong id="following" class="community">
        <%= @member.following.count %>
      </strong>
      追蹤中
    </a>
  </span>
  <span class="follower">
    <a href="<%= followers_member_path(id: @member.id) %>">
      <strong id="followers" class="community">
        <%= @member.followers.count %>
      </strong>
      追蹤者
    </a>
  </span>
</div>