
<%= javascript_pack_tag 'bmi', 'data-turbolinks-track': 'reload' %>
<section class="section banner cover-image">
  <div class="container-fluid">
    <div class="row">
      <h2 class="title">快速檢測 <br> 身高體重指數(BMI)</h2>
      <form>
        <div class="form-group" id="BMI">
          <label for="formGroupExampleInput">身高</label>
          <input type="text" class="form-control cm" name="height" id="formGroupExampleInput" placeholder="請輸入身高（公分）" onkeypress="if (event.keyCode == 13) {return false;}" v-model="height">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">體重</label>
          <input type="text" class="form-control kg" name="weight" id="formGroupExampleInput2" placeholder="請輸入體重（公斤）" onkeypress="if (event.keyCode == 13) {return false;}" v-model="eight">
        </div>
        <button type="submit" class="btn btn-primary submit" data-toggle="modal" data-target="#exampleModal">開始計算</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content follow-modal">
              <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">快來看看你的BMI ヽ༼⊙_⊙༽ﾉ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="box text-center">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div> 
</section>
<section class="section team">
  <div class="container team">
    <div class="row title">
      <div class="col-12">
        <div class="subtitle text-center">團隊成員</div>
        <h2 class="subtitle-about text-center">認識我們的創意團隊</h2>
        <div class="description text-center">熱愛我們所做，對工作充滿熱情</div>
      </div>
    </div>  
    <div class="row people">
      <div class="col-12 col-md-4 team-block" data-aos="zoom-in" data-aos-duration="3000">
        <div class="team-member">
          <div class="team-header">
            <img src="http://kubera.kattio.ru/sites/default/files/styles/team_/public/2019-07/team-1.png?itok=WsxC0E66" alt="圖片說明">
          </div>
          <div class="team-body">
            <div class="short-info">
              <h3 class="member-name">Henry</h3>
              <h4 class="designation">Chief Evecutive Officer</h4>
            </div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus?</p>
              <p>Phone : (123)425 67 89</p>
            </div>
          </div>
          <div class="team-footer">
            <h3>徐永弘</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 team-block" data-aos="zoom-in" data-aos-duration="3000">
        <div class="team-member">
          <div class="team-header">
            <img src="http://kubera.kattio.ru/sites/default/files/styles/team_/public/2019-07/team-3.png?itok=bLNg7x8S" alt="圖片說明">
          </div>
          <div class="team-body">
            <div class="short-info">
              <h3 class="member-name">Willy</h3>
              <h4 class="designation">CTO</h4>
            </div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus?</p>
              <p>Phone : (123)425 67 89</p>
            </div>
          </div>
          <div class="team-footer">
            <h3>張維傑</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 team-block" data-aos="zoom-in" data-aos-duration="3000">
        <div class="team-member">
          <div class="team-header">
            <img src="http://kubera.kattio.ru/sites/default/files/styles/team_/public/2019-07/team-4.png?itok=Ui4DXS1Q" alt="圖片說明">
          </div>
          <div class="team-body">
            <div class="short-info">
              <h3 class="member-name">Cindy Chen</h3>
              <h4 class="designation">Accountant</h4>
            </div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus?</p>
              <p>Phone : (123)425 67 89</p>
            </div>
          </div>
          <div class="team-footer">
            <h3>陳妙賢</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

     


