
<%= javascript_pack_tag 'bmi', 'data-turbolinks-track': 'reload' %>
<section class="section banner cover-image">
  <div class="container-fluid">
    <div class="row">
      <h2 class="title">快速檢測 <br> 身高體重指數(BMI)</h2>
      <form>
        <div class="form-group" id="BMI">
          <label for="formGroupExampleInput">身高</label>
          <input type="text" class="form-control cm" name="height" id="formGroupExampleInput" placeholder="請輸入身高（公分）" onkeypress="if (event.keyCode == 13) {return false;}" v-model="height">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">體重</label>
          <input type="text" class="form-control kg" name="weight" id="formGroupExampleInput2" placeholder="請輸入體重（公斤）" onkeypress="if (event.keyCode == 13) {return false;}" v-model="eight">
        </div>
        <button type="submit" class="btn btn-primary submit">開始計算</button>
        <div class="box list-group-item" style="display: none;"></div>
      </form>
    </div>
  </div> 
</section>
<section class="section service">
  <div class="container">
    <div class="row">
      <div class="col-12 main-service">
        <div class="subtitle text-center">您的需求</div>
        <h2 class="subtitle-about text-center">快速服務</h2>
        <div class="description text-center">我們提供一系列的健康管理功能</div>
      </div>
    </div>  
    <div class="row">
      <div class="col-12 col-md-3 service-block" data-aos="fade-up" data-aos-duration="3000">
        <div class="icon-caption">
          <div class="icon">
            <i class="fas fa-pencil-alt"></i>
          </div>
          <h2><a href="/blogs">認識自己</a></h2>
          <div class="clear-fix"></div>
      </div>
        <div class="service-text">透過個人資料中的數據，快速瞭解自己的標準體重、BMI數值（身高體重指數）、基礎代謝率、每日最少消耗熱量以及檢測平日運動習慣，看看自己是否需要减肥了。此外，可以直接在此功能，更新個人身體資料。</div>
      </div>
      <div class="col-12 col-md-3 service-block" data-aos="fade-up" data-aos-duration="3000">
        <div class="icon-caption">
          <div class="icon">
            <i class="fas fa-utensils"></i>
          </div>
          <h2><a href="/search_food">食品熱量</a></h2>
          <div class="clear-fix"></div>
      </div>
        <div class="service-text">是否對於每日攝取多少熱量，有模糊不清的計算呢？！食品熱量查詢可以讓您快速得知熱量，且一併使用每日記錄功能來為您把關每日熱量，如果有找尋不到的商品，可以自行新增到每日記錄上，非常人性化的設計。</div>
      </div>
      <div class="col-12 col-md-3 service-block" data-aos="fade-up" data-aos-duration="3000">
        <div class="icon-caption">
          <div class="icon">
            <i class="fas fa-running"></i>
          </div>
          <h2><a href="search_sport">運動消耗</a></h2>
          <div class="clear-fix"></div>
      </div>
        <div class="service-text">運動到底燃燒了多少的熱量呢？！不用害怕，輸入您的運動項目與運動時間，便可即時得知運動成果，看看是否有達到當日所需要消耗熱量。更貼心的設計，將運動成果加入每日紀錄中，長期紀錄個人的運動生活。</div>
      </div>
      <div class="col-12 col-md-3 service-block" data-aos="fade-up" data-aos-duration="3000">
        <div class="icon-caption">
          <div class="icon">
            <i class="fab fa-instagram"></i>
          </div>
          <h2><a href="/users">看看別人</a></h2>
          <div class="clear-fix"></div>
      </div>
        <div class="service-text">避免一個人孤單地實踐目標，來看看別人的飲食生活習慣，都吃了些什麼來維持身材，或者都做了些什麼運動，來促進熱量的燃燒，如此一來，不用再為了要吃什麼，或者要做什麼運動，而煩惱囉～！</div>
      </div>
    </div>
  </div>
</section>
<section class="section team">
  <div class="container team">
    <div class="row title">
      <div class="col-12">
        <div class="subtitle text-center">團隊成員</div>
        <h2 class="subtitle-about text-center">認識我們的創意團隊</h2>
        <div class="description text-center">熱愛我們所做，對工作充滿熱情</div>
      </div>
    </div>  
    <div class="row people">
      <div class="col-12 col-md-4 team-block" data-aos="zoom-in" data-aos-duration="3000">
        <div class="team-member">
          <div class="team-header">
            <img src="http://kubera.kattio.ru/sites/default/files/styles/team_/public/2019-07/team-1.png?itok=WsxC0E66" alt="圖片說明">
          </div>
          <div class="team-body">
            <div class="short-info">
              <h3 class="member-name">Henry</h3>
              <h4 class="designation">Chief Evecutive Officer</h4>
            </div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus?</p>
              <p>Phone : (123)425 67 89</p>
            </div>
          </div>
          <div class="team-footer">
            <h3>徐永弘</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 team-block" data-aos="zoom-in" data-aos-duration="3000">
        <div class="team-member">
          <div class="team-header">
            <img src="http://kubera.kattio.ru/sites/default/files/styles/team_/public/2019-07/team-3.png?itok=bLNg7x8S" alt="圖片說明">
          </div>
          <div class="team-body">
            <div class="short-info">
              <h3 class="member-name">Willy</h3>
              <h4 class="designation">CTO</h4>
            </div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus?</p>
              <p>Phone : (123)425 67 89</p>
            </div>
          </div>
          <div class="team-footer">
            <h3>張維傑</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 team-block" data-aos="zoom-in" data-aos-duration="3000">
        <div class="team-member">
          <div class="team-header">
            <img src="http://kubera.kattio.ru/sites/default/files/styles/team_/public/2019-07/team-4.png?itok=Ui4DXS1Q" alt="圖片說明">
          </div>
          <div class="team-body">
            <div class="short-info">
              <h3 class="member-name">Cindy Chen</h3>
              <h4 class="designation">Accountant</h4>
            </div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus?</p>
              <p>Phone : (123)425 67 89</p>
            </div>
          </div>
          <div class="team-footer">
            <h3>陳妙賢</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

     


