// @import "bootstrap-sprockets";
@import "bootstrap";
html, body {
  width: 100%;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #4F4F4F;
}
header {
  width: 100%;
  height: 75px;
  position: fixed;
}
#main {
  width: 100%;
  flex: 1;
}
footer {
  width: 100%;
  height: 75px;
}
h1,h2,h3,h4,a,p {
  font-family: "SF Pro TC","SF Pro Display","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #4f4f4f;
}
a {
  font-size: 16px;
}
li, a {
  list-style: none;
  text-decoration: none!important;
}
a:hover{
  color: #DB0267;
}

// navbar
#navbar-control {
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0;
  left: -30px;
}
.navbar {
  padding: 0 !important;
  .container-fluid {
    background-color: rgba(255,255,255,.5);
    h1, a{
      color: rgba(0,0,0,.84);
    }
  }
  .logo {
    a {
      padding: 0;
      margin: 0 40px;
      width: 200px;
      img {
        width: 200px;
        margin-top: 17px;
        margin-left: 50px;
      }
    }
    img {
      height: 40px;
      width: 50px;
    }
  }
  .navbar-header {
    display: none;
  }
  .collapse .navbar-nav {
    display: flex;
    width: 400px;
    align-items: center;
    margin: 0 50px;
    .nav-item {
      width: 100px;
      &:hover {
        color: rgb(240, 45, 142);
      }
      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: rgba(0,0,0,.84);
        span {
          font-size: 20px;
        }
      }
      a + a:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,.84);
      }
      i {
        display: block;
        color: rgba(0,0,0,.84);
        padding-right: 3px;
        &:hover {
          color:#e52e71;
        }
      }
    }
    i.fas.fa-hamburger::before,
    i.fas.fa-dumbbell::before,
    i.far.fa-newspaper::before,
    i.fas.fa-utensils::before{
      font-size: 40px; 
    }
  }
  .navbar-actions {
    display: flex;
    right: 30px;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 0;
    justify-content: flex-end;
    .nav-item {
      padding: 0 10px;
    }
    .dropdown-menu {
      a {
        color: #2b2a2a;
      }
    }
  }
} 
@media only screen and (min-width: 768px) {
  .navbar {
    height: 75px;
    .row {
      width: 100%;
      height: 75px;
    }
    .brand {
      justify-content: center;
      align-items: center;
     }
  }
}
@media only screen and (max-width: 767px){
  .navbar{
    height: 50px;
    background-color: rgba(0,0,0,.92);
    .row{
      margin: 0;
    }
    .row .logo, 
    .row .navbar-actions{
      display: none;
    }
    .navbar-header{
      display: block;
      width: 400px;
      height: 60px;
      top: 0;
      padding: 0;
      margin: 0;
      .bar-block {
        display: block;
        top: 0;
        left: 0;
        .navbar-toggler{
          position: absolute;
          left: 0;
          top: 0;
          padding: 0 15px;
          width: 50px;
          height: 60px;
          margin: 0;
          .icon-bar{
            display: block;
            position: absolute;
            top: 29px;
            margin: 0 5px;
            width: 20px;
            height: 1px;
            right: 8px;
            background-color: rgba(0,0,0,.84);
            border-radius: .5px;
            z-index: 4;
          }
          .icon-bar:first-child{
            transform: rotate(0deg) translateY(-3px);
            transition: .2s;
          } 
          .icon-bar:last-child{
            transform: rotate(0deg) translateY(3px);
            transition: .2s;
          } 
        }
      }
      .logo-block{
        position: absolute;
        width: 180px;
        height: 60px;
        left: 25%;
        top: 0;
        padding: 0;
        a{
          display: flex;
          align-items: center;
          height: 60px;
        }
        img{
          width: 180px;
          height: 30px;
        }
        h1{
          font-size: 20px;
          margin: 0;
          padding: 0 10px;
          color: #DB0267;
        }
      }
      .login-block{
        display: block;
        display: flex;
        float: right;
        width: 100px;
        height: 60px;
        align-items: center;
      }
    }
    .logo{
      display: flex;
      align-items: center;
      right: 0;
      top: 0;
      height: 60px;
      width: 60px;
    }
  }  
  #navbar-control:checked + .navbar .navbar-toggler .icon-bar:first-child{
    transform: rotate(45deg) translateY(0px);
    background-color: #DB0267;
  }
  #navbar-control:checked + .navbar .navbar-toggler .icon-bar:last-child{
    transform: rotate(-45deg) translateY(0px);
    background-color: #DB0267;
  }
  #navbar-control:checked + .navbar .navbar-collapse{
    visibility: visible;
  }
  .navbar-collapse {
    .navbar-nav{
      position: absolute;
      background-color: rgba(0,0,0,.88);
      display: block;
      box-sizing: border-box;
      z-index: 1;
      width: auto;
      height: 800px;
      padding: 45px 40px 8px;
      transition: visibility 0s linear 1.5s;
      top: 60px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0!important;
      .nav-item{
        width: 100%;
        height: 80px;
        line-height: 1rem;
        left: 0;
        a{
          align-items: flex-start;
          color: rgba(255,255,255,.9)!important;
          font-size: .95rem;
        }
        i {
          color: rgba(255,255,255,.9)!important;
        }
      }
      .nav-item:first-child a{
        border-left: 1px solid transparent;
      }
    }
  }
}

// banner
.banner{
  width: 100%;
  height: 600px;
  top: 60px;
  position: absolute;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url('https://images.unsplash.com/photo-1492093502190-25c0c7b3094c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1800&q=60');
  background-size: 100% 75%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media screen and (max-width: 767px){
 .banner{
   width: 100%;
   position: absolute;
   background-size: 500px 740px;
 }
}
.banner.cover-image:before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  box-sizing: border-box;
}
.banner .row {
  color: #ffffff;
  justify-content: center;
  padding-top: 100px;
}
//login
.login{
  width: 100%;
  height: 800px;
  padding: 30px 0;
  top: 0;
  margin: 20px 0;
  .login-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .title{
    margin: 0 50px;
    height: 80px;
    display: block;
  }
  .row{
    flex-direction: column;
    margin: 0 50px;
    .form-control{
      width: 400px;
      height: 45px;
      padding: 8px 8px 0;
    }
    .btn-google{
      display: inline-block;
      background: #fff;
      color: rgba(0,0,0,0.54);
      box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 0;
      border-color: transparent;
      border-radius: 3px;
      width: 400px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      .google-icon{
        display: inline-block;
        background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg') no-repeat;
        border-radius: 1px;
        width: 20px;
        height: 20px;
      }
      .label{
        padding: 3px;
      }
      span.label:hover{
        text-decoration: none;
      } 
    }
    .separator{
      width: 400px;
      height: 30px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 30px 0;
    }
    .separator:before{
      display: inline-block;
      content: "";
      width: calc(50% - 0em);
      height: 0px;
      border-bottom: 1px solid rgb(204, 204, 204);
      margin-right: .5rem;
    }
    .separator::after{
      display: inline-block;
      content: "";
      width: calc(50% - 0em);
      height: 0px;
      border-bottom: 1px solid rgb(204, 204, 204);
      margin-left: .5rem;
    }
    .forget-pw{
      color: #FF5C66;
    }
    .btn-login{
      width: 400px;
      height: 45px;
      padding: 10px;
      margin-top: 10px;
      border-radius: 40px;
      background-color: #FF5C66;
      border: 1px solid transparent;
    }
    .text-links .sign-up{
      display: flex;
      justify-content: center;
      font-size: 16px;
      color: #FF5C66;
      .sign-up-btn{
        color: #FF5C66;
      }
    }
  }
}
//rest password
.reset-pw{
  .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px 0;
    padding: 30px 0;
    .field.email{
      margin-top: 20px;
    }
    #member_email.form-control{
      width: 400px;
      height: 45px;
    }
    .btn-reset{
      width: 400px;
      height: 45px;
      padding: 10px;
      margin-top: 25px;
      border-radius: 40px;
      background-color: #FF5C66;
      border: 1px solid transparent; 
    }
    hr{
      display: block;
      width: 400px;
      height: 1px;
      border: 0;
      border-top: 1px solid hsl(0,0%,80%);
      margin: 1em 0;
      padding: 0;
    }
    a.bottom-form-link:hover{
      color: #FF5C66;
    }
  }
}
//be-member
.be-member{
  .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px 0;
    padding: 30px 0;
    h2{
      margin-bottom: 30px;
    }
    .form-group .form-control{
      width: 400px;
      height: 45px;
      padding: 8px 8px 0;
    }
    .form-group.email{
      margin-bottom: -5px;
    }
    .btn{
      width: 400px;
      height: 45px;
      padding: 10px;
      margin-top: 10px;
      border-radius: 40px;
      background-color: #FF5C66;
      border: 1px solid transparent;
    }
    hr{
      display: block;
      width: 400px;
      height: 1px;
      border: 0;
      border-top: 1px solid hsl(0,0%,80%);
      margin: 30px 0;
      padding: 0;
    }
    a.bottom-form-link:hover{
      color: #FF5C66;
    }
  }
}
// footer
.section.footer {
  background: #F4F4F4;
  color: rgba(0,0,0,0.5);
  padding: 0;
  z-index: 1;
  .footers{
    padding: 0;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin: 20px 80px 0;
  }
  .footer-links {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    a {
      color: black;
      opacity: 0.15;
      text-decoration: none;
      font-size: 24px;
      padding: 0px 10px;
      &:hover {
        opacity: 1;
      }
      i{
        font-size: 30px;
      }
    }  
  }
}
//search_food
.food .container-fluid {
  display: flex;
  padding: 0;
  .search {
    width: 100%;
    margin: 20px 0 20px;
    h2 {
      text-align: center;
    }
    .food-content {
      height: 100px;
      .add_item {
        width: 100%;
        display: flex;
        margin-top: 20px;
        i {
          margin: 5px 10px 0 0;
          font-size: 25px;
        }
        p {
          line-height: 2.5;
          margin-right: 10px;
        }
        .btn-analyze {
          height: 40px;
          width: 130px;
        }
      }
    }
  }
    table.table-hover {
      width: 680px;
   }
  .row.result {
    width: 100%;
    margin-top: 20px;
    .daily-record {
      width: 100%;
      margin: 0 20px;
      h2 {
        text-align: center;
      }
    }
  }
}
//search_sport
.sport {
  .sport-content {
    width: 550px;
    margin: auto;
  }
  .btn-sport {
    width: 100px;
  }
}


