// @import "bootstrap-sprockets";
@import "bootstrap";

html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #4F4F4F;
  min-height: 100%;
}
header {
  width: 100%;
  height: 75px;
  position: absolute;
  padding: 0!important;
}
#main {
  width: 100%;
  flex: 1;
}
footer {
  width: 100%;
  height: 75px;
}
h1,h2,h3,h4,a,p {
  font-family: "SF Pro TC","SF Pro Display","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #4f4f4f;
}
a {
  font-size: 16px;
}
li, a {
  list-style: none;
  text-decoration: none!important;
}
a:hover{
  color: #33ABE6;
}

// navbar
#navbar-control {
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0;
  left: -30px;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 75px;
    .navbars {
      background-color: rgb(249, 249, 249);
    }
    .container-fluid {
      max-width: 1400px;
      .row {
        width: 100%;
        height: 75px;
        margin: auto;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        .logo {
          min-width: 200px;
          padding-left: 18px;
          .brand {
            vertical-align: middle;
            padding: 0;
            img {
              width: 200px;
            }
          }
        }
        .navbar-collapse {
          justify-content: center;
          display: inline-block;
        }
        .collapsing .navbar-nav, 
        .collapse .navbar-nav {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .nav-item {
            a {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              font-size: 1rem;
              color: rgba(0,0,0,.84);
              width: 90px;
              padding: 0;
              &:hover {
                color:#33ABE6;
                transition: all 0.3s ease-in-out;
              }
              span {
                font-size: 19px;
              }
            }
            a + a:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: rgba(0,0,0,.84);
            }
          }
        }
      }
    }
    .navbar-header {
      display: none;
    }
    .nav-link {
      padding: 0;
      color: rgba(0,0,0,.84);
    }
    .navbar-actions {
      min-width: 80px;
      display: flex;
      a:hover {
        color: #33ABE6;
        transition: all 0.3s ease-in-out;
      }
      .nav-item {
        padding: 0 10px;
      }
      .dropdown-menu {
        width: 100%;
        left: -140px;
        .d-block {
          word-wrap: break-word;
        }
        a {
          color: #2b2a2a;
        }
        span {
          padding-left: 14px;
        }
      }
    }
  } 
}
@media screen and (max-width: 767px){
  .navbar{
    position: absolute;
    height: 50px;
    .row{
      margin: 0;
      background-color: #fff;
      width: 100%;
    }
    .row .logo, 
    .row .navbar-actions{
      display: none;
    }
    .navbar-header{
      display: block;
      background-color: rgb(249, 249, 249);
      width: 400px;
      height: 60px;
      top: 0;
      padding: 0;
      margin: 0;
      .bar-block {
        display: block;
        top: 0;
        left: 0;
        .navbar-toggler{
          position: absolute;
          left: 0;
          top: 0;
          padding: 0 15px;
          width: 50px;
          height: 60px;
          margin: 0;
          .icon-bar{
            display: block;
            position: absolute;
            top: 29px;
            margin: 0 5px;
            width: 20px;
            height: 1px;
            right: 8px;
            background-color: rgba(0,0,0,.84);
            border-radius: .5px;
            z-index: 4;
          }
          .icon-bar:first-child{
            transform: rotate(0deg) translateY(-3px);
            transition: .2s;
          } 
          .icon-bar:last-child{
            transform: rotate(0deg) translateY(3px);
            transition: .2s;
          } 
        }
      }
      .logo-block{
        position: absolute;
        width: 180px;
        height: 60px;
        left: 25%;
        top: 0;
        padding: 0;
        a{
          display: flex;
          align-items: center;
          height: 60px;
        }
        img{
          width: 180px;
          height: 30px;
        }
      }
      .login-block{
        display: block;
        display: flex;
        align-items: center;
        float: right;
        width: auto;
        height: 60px;
        right: 0;
        .nav-item.dropdown {
          a {
            color: rgba(0,0,0,.84);
          }  
        }
        .nav-item.sign-in {
          width: 50px;
          a {
            color: rgba(0,0,0,.84);
            font-size: 15px;
            padding-right: 10px;
          }
        }
        .dropdown-menu.show{
          width: 120px;
          left: auto;
          right: 0;
          .d-block {
            word-wrap: break-word;
            padding-left: 16px;
          }
        }
      }
    }
    .logo{
      display: none;
    }
  }  
  #navbar-control:checked + .navbar .navbar-toggler .icon-bar:first-child{
    transform: rotate(45deg) translateY(0px);
    background-color: #33ABE6;
  }
  #navbar-control:checked + .navbar .navbar-toggler .icon-bar:last-child{
    transform: rotate(-45deg) translateY(0px);
    background-color: #33ABE6;
  }
  #navbar-control:checked + .navbar .navbar-collapse{
    visibility: visible;
  }
  .navbar-collapse {
    .navbar-nav{
      display: flex!important;
      align-items: center!important;
      background-color: rgba(255,255,255,.4);
      display: block;
      box-sizing: border-box;
      z-index: 1;
      width: 100%!important;
      height: calc(100vh);
      transition: visibility 0s linear 1.5s;
      top: 60px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0!important;
      .nav-item{
        width: 100%!important;
        height: 80px;
        line-height: 1rem;
        left: 0;
        position: relative;
        a.nav-link {
          display: flex;
          justify-content: center;
          flex-direction: column!important;
          padding-left: 18px;
          width: 100%;
          height: 80px;
          color: rgba(0,0,0,.8)!important;
          font-size: 19px;
        } 
        a:hover {
          span {
            color: #33ABE6;
            transition: all 0.3s ease-in-out;
          }
        }
        i {
          width: 35px;
          height: 35px;
          font-size: 29px;
          text-align: center;
          padding: 0 0 8px 0;
          color: rgba(0,0,0,.8)!important;
        }
      }
      .nav-item + .nav-item:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,.3);
      }
      .nav-item:first-child a{
        border-left: 1px solid transparent;
      }
    }
  }
}
// banner
.banner{
  width: 100%;
  height: 100vh;
  top: 60px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url('../../assets/images/banner.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  .row {
    flex-direction: column;
    width: 100%;
    height: 600px;
    margin: auto;
    align-items: center;
    justify-content: center;
    h2 {
      color: #fff;
      text-align: center;
      width: 100%;
      font-size: 2.5em;
    }
    form {
      color: #fff;
      width: 100%;
    }
  }  
}
@media screen and (min-width: 768px){

}

@media screen and (max-width: 767px){
 .banner{
   width: 100%;
   .row {
      width: 100%;
      h2,
      form {
        width: 100%;
      }
   }
 }
}
.banner.cover-image:before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  box-sizing: border-box;
}
//service
.service {
  background-color: #fafafa;
  padding: 50px 0 50px;
  .main-service {
    .subtitle {
      margin: 0 0 10px;
      font-size: 14px;
      color: #33ABE6;
    }
    .subtitle-about {
      font-size: 24px;
      margin: 0 0 10px;
      letter-spacing: 1px;
    }
    .description {
      margin-bottom: 50px;
      font-size: 20px;
    }
  }
  .col-12.service-block{
    margin-bottom: 40px;
    .icon-caption h2 a{
      font-size: 18px;
      color: #404040;
      line-height: 32px;
    }
    h2:hover{
      a {
      color: #33ABE6;
      transition: all .6s ease-in-out;
      }
    }
    .icon{
      float: left;
      height: 50px;
      padding: 0 15px 10px 0;
      margin: 0 15px 0 0;
      border-right: 1px solid #e3e3e3;
      font-size: 26px;
      color: #33ABE6;
    }
  }
  .service-text{
    margin: 15px 0 0;
    font-size: 14px;
  }
  .clear-fix{
    clear: both;
  }
}
//team
.section.team {
  .title {
    .subtitle {
      color: #33ABE6;
      margin-bottom: 8px;
      font-size: 14px;
    }
    .subtitle-about {
      color: #404040;
      font-size: 24px;
    }
    .description {
      padding: 15px 0 30px;
      margin: 0 0 12px 0;
      color: #606060;
      font-size: 20px;
    }  
  }
  .people {
    .team-member{
      position: relative;
      cursor: pointer;
      img {
        height: 280px;
        width: 220px;
      }
      &:hover{
        overflow: visible;
        .team-header{
          transform: translateX(-70px);
        }
        .team-body{
          opacity: 1;
          transform: translateX(80px) rotateY(0deg);
        }
        .team-footer{
          opacity: 0;
        }
      }
      .team-header{
        width: 100%;
        text-align: center;
        transform: translateX(0px);
        transition: all .6s ease-in-out;
      }
      .team-body{
        width: 220px;
        height: 282px;
        padding: 0 25px;
        position: absolute;
        background-color: #fafafa;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateX(40px) rotateY(60deg);
        transition: all .6s ease-in-out;
        z-index: 100;
        .short-info{
          padding: 10px 0;
          border-bottom: 1px solid #ebebeb;
        }
        .member-name{
          color: #303030;
          line-height: 20px;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 1px;
        }
        .designation{
          color: #404040;
          line-height: 20px;
          font-size: 14px;
          letter-spacing: 1px;
        }
      }
      .team-footer{
        width: 100%;
        background-color: #fafafa;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s ease-in-out;
        h3{
          color: #606060;
          font-size: 14px;
          padding: 12px 0;
          line-height: 20px;
          font-weight: 400;
          margin-bottom: 0;
        }
      }
    }
  }
}
// footer
.section.footer {
  background: #F4F4F4;
  color: rgba(0,0,0,0.5);
  padding: 0;
  .footers{
    padding: 0;
  }
  .footer-links {
    a {
      color: black;
      opacity: 0.15;
      text-decoration: none;
      font-size: 24px;
      padding: 0px 10px;
      &:hover {
        opacity: 1;
      }
      i{
        font-size: 30px;
      }
    }  
  }
}
@media screen and (min-width: 768px){
  .footer {
    .footers {
      height: 100%;
    }
    .footer-links{
      float: left;
      margin: 25px 25px 0 25px;
    }
    .footer-copyright {
      float: right;
      margin: 25px 25px 0 25px;
    }
  }
}
@media screen and (max-width: 767px){
  .footer {
    height: 100%;
    display: flex;
    justify-content: center;
    .footer-links {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
    .footer-copyright {
      font-size: 14px;
      text-align: center;
    }
  }
}
//login
.login{
  width: 100%;
  height: 800px;
  top: 0;
  .login-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .title{
    margin: 0 30px;
    height: 80px;
    display: block;
  }
  .row{
    flex-direction: column;
    margin: 0 50px;
    .form-control{
      width: 400px;
      height: 45px;
      padding: 8px 8px 0;
    }
    .btn-google{
      display: inline-block;
      background: #fff;
      color: rgba(0,0,0,0.54);
      box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 0;
      border-color: transparent;
      border-radius: 3px;
      width: 400px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      .google-icon{
        display: inline-block;
        background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg') no-repeat;
        border-radius: 1px;
        width: 20px;
        height: 20px;
      }
      .label{
        padding: 3px;
      }
      span.label:hover{
        text-decoration: none;
      } 
    }
    .separator{
      width: 400px;
      height: 30px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 30px 0;
    }
    .separator:before{
      display: inline-block;
      content: "";
      width: calc(50% - 0em);
      height: 0px;
      border-bottom: 1px solid rgb(204, 204, 204);
      margin-right: .5rem;
    }
    .separator::after{
      display: inline-block;
      content: "";
      width: calc(50% - 0em);
      height: 0px;
      border-bottom: 1px solid rgb(204, 204, 204);
      margin-left: .5rem;
    }
    .forget-pw{
      color: #FF5C66;
    }
    .btn-login{
      width: 400px;
      height: 45px;
      padding: 10px;
      margin-top: 10px;
      border-radius: 40px;
      background-color: #FF5C66;
      border: 1px solid transparent;
    }
    .text-links .sign-up{
      display: flex;
      justify-content: center;
      font-size: 16px;
      color: #FF5C66;
      .sign-up-btn{
        color: #FF5C66;
      }
    }
  }
}
@media screen and (max-width: 767px){
  .login .login-block{
    width: 100%;
    .btn-google {
      width: 360px;
      margin-left: 16px;
    }
    .separator {
      width: 360px;
      margin: 30px 20px;
    }
    .form-group.email, 
    .form-group.email input,
    .form-group.password,
    .form-group.password input,
    .form-group.forget {
      width: 360px;
      margin-left: 10px;
    }
    .text-muted {
      margin-left: 14px;
    }
    .forget-pw {
      margin-left: 25px;
    }
    .form-group .btn {
      width: 360px;
      margin-left: 22px;
    }
  } 
}
//rest password
.reset-pw{
  padding: 0!important;
  .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px 0;
    padding: 30px 0;
    .field.email{
      margin-top: 20px;
    }
    #member_email.form-control{
      height: 45px;
    }
    .btn-reset{
      height: 45px;
      padding: 10px;
      margin-top: 25px;
      border-radius: 40px;
      background-color: #FF5C66;
      border: 1px solid transparent; 
    }
    hr{
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid hsl(0,0%,80%);
      margin: 1em 0;
      padding: 0;
    }
    a.bottom-form-link:hover{
      color: #FF5C66;
    }
  }
}
@media screen and (min-width: 768px){
  .reset-pw{
    .row{
      #member_email.form-control{
        width: 400px;
      }
      .btn-reset{
        width: 400px;
      }
      hr{
        width: 400px;
      }
    }
  }
}
@media screen and (max-width: 767px){
  .sectioin.reset-pw {
    padding: 0;
    width: 100%;
  }
  .reset-pw .row {
    #member_email.form-control, .btn-reset {
      width: 360px;
    }
  }
}  
//be-member
.be-member{
  .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h2{
      height: 80px;
    }
    .btn-google{
      display: inline-block;
      background: #fff;
      color: rgba(0,0,0,0.54);
      box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 0;
      border-color: transparent;
      border-radius: 3px;
      width: 400px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      .google-icon{
        display: inline-block;
        background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg') no-repeat;
        border-radius: 1px;
        width: 20px;
        height: 20px;
      }
      .label{
        padding: 3px;
      }
      span.label:hover{
        text-decoration: none;
      } 
    }
    .separator{
      width: 400px;
      height: 30px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 30px 0;
    }
    .separator:before{
      display: inline-block;
      content: "";
      width: calc(50% - 0em);
      height: 0px;
      border-bottom: 1px solid rgb(204, 204, 204);
      margin-right: .5rem;
    }
    .separator::after{
      display: inline-block;
      content: "";
      width: calc(50% - 0em);
      height: 0px;
      border-bottom: 1px solid rgb(204, 204, 204);
      margin-left: .5rem;
    }
    .form-group .form-control{
      width: 400px;
      height: 45px;
      padding: 8px 8px 0;
    }
    .form-group.email{
      margin-bottom: -5px;
    }
    .btn{
      width: 400px;
      height: 45px;
      padding: 10px;
      margin-top: 10px;
      border-radius: 40px;
      background-color: #FF5C66;
      border: 1px solid transparent;
    }
    hr{
      display: block;
      width: 400px;
      height: 1px;
      border: 0;
      border-top: 1px solid hsl(0,0%,80%);
      margin: 30px 0;
      padding: 0;
    }
    a.bottom-form-link:hover{
      color: #FF5C66;
    }
  }
}
@media screen and (min-width: 768px){
  .be-member{
    .row{
      .form-group .form-control, 
      .btn,
      hr {
        width: 400px;
      }  
    }
  }
}  
@media screen and (max-width: 767px){  
  .be-member{
    .row{
      .form-group .form-control, 
      .btn,
      .btn-google,
      .separator,
      hr {
        width: 360px;
      }  
    }
  }
}  
//personal-info
.section.personal-info {
  .community {
    height: 60px;
    .following {
      padding-left: 8px;
      a {
        height: 50px;
        display: flex;
        text-align: center;
        flex-direction: column;
      }
    }
    .follower {
      padding-left: 95px;
      a {
        height: 50px;
        display: flex;
        text-align: center;
        flex-direction: column;
      }
    }
  }
}
.member-show-img {
  width: 200px;
  height: 200px;
}
@media screen and (min-width: 768px){
  .section.personal-info {
    background-color:  rgb(252, 252, 252);
    .row {
      padding: 0 35px;
      .basic-data {
        justify-content: center;
      }
    }
    .calorie-intake {
      margin: auto;
      margin-top: 20px;
      span {
        display: block;
        text-align: right;
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 767px){
  .section.personal-info {
    .row {
      .basic-data {
        justify-content: center;
        .show-img {
          width: 180px;
          height: 180px;
        }
      }
      .community.follow-states {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%!important;
      }
    }
    .calorie-intake {
      margin-top: 30px;
      span {
        display: block;
        text-align: center;
      }
      #heychart {
        width: 350px;
      }
    }
    .personal-photo {
      display: none;
    }
  }
}

//edit-info
.section.edit-info {
  width: 100vw;
  height: 100%;
  select#member_gender{
    margin-left: 10px;
    width: 100px;
    height: 30px;
  }
  input.btn {
    width: 190px;
  }
}
@media screen and (min-width: 768px){
  .section.edit-info {
    background-color: rgb(252, 252, 252);
    background-size: cover;
    h2 {
      text-align: center;
    }
    .container.edit {
      margin-top: 30px;
      .row{
        margin: 30px 0 0 50px;
        justify-content: center;
      }
    }
    .container.photo {
      padding: 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media screen and (max-width: 767px){ 
  .section.edit-info {
    h2.title {
      text-align: center;
    }
    .row {
      width: 100%;
      height: 100%;
      margin: 0;
      box-sizing: border-box;
      form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    .container.photo {
      display: none;
    }
  }
}
//self-check
.self-check {
  .row {
    width: 100%;
    height: 500px;
    justify-content: center;
    margin: auto;
    flex-wrap: nowrap;
    .item {
      width: 400px;
      height: 500px;
      margin: 0 10px;
      label {
        color: #404040;
      }
    }
  }  
  .item.basic {
    background-color:#F0F0F0;
    height: 100%;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    .col {
      color: #404040!important;
      margin: 20px 0;
      +.gender {
        label {
          margin: 9px 15px 0 0;
        }
        .select.is-success {
          width: 95px;
        }
      }
      +.button-group{
        width: 100%;
        display: flex;
          justify-content: space-between;
        .button {
          width: 156px;
        }
        i {
          padding-right: 10px;
        }
      }
    }
  }
  .item.result {
    margin-top: 10px;
    .table {
      background-color: #F0F0F0!important;
      border-radius: 5px;
    }
    .col.more {
      display: flex;
      align-items: center;
      .more-text {
        font-size: 18px;
      }
      .button {
        margin-left: 10px;
        width: 80px;
      }
    }
  }
  .item.deeper-check {
    .col {
      margin: 15px 0;
      label p {
        color: #FF5C66;
        display: inline;
        font-size: 19px;
      }
    }
  }
}
@media screen and (min-width: 768px){
  .self-check {
    height: 100vh;
    background-image: linear-gradient(100deg, transparent 50%, rgba(204, 204, 204, 0.95) 50%), url(https://images.unsplash.com/photo-1559064368-6f6d5ef84110?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 767px){
  .self-check {
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(204, 204, 204, 0.6) ), url(https://images.unsplash.com/photo-1559064368-6f6d5ef84110?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .row {
      width: 100%;
      height: 100%;
      justify-content: center;
      margin: auto;
      flex-wrap: wrap;
      .item {
        width: 400px!important;
        height: 100%;
        margin: 0 10px 20px;
        background-color:#fafafa;
        border-radius: 5px;
        label {
          color: #404040;
        }
      }
      .basic {
        .button-group {
          .button {
            width: 140px!important;
            margin: 0 10px;
          }
        }
      }
      .result {
        .table,
        .more {
          width: 350px;
        } 
        .more {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .button {
            margin-top: 15px;
            width: 150px!important;
          }
        }
      }
      .deeper-check {
        .col {
          width: 345px;
        }
        .title {
          font-size: 19px;
        }
      }
    }    
  } 
}
//search_food
.food {
  height: 100vh;
}
.food .container-fluid {
  display: flex;
  padding: 0;
  width: 100%;
  .search {
    width: 100%;
    margin: 20px 0 20px;
    #Add_food_record_type .form-row {
      // background-color: #17a2b8;
      background-color: #edfafc;
      // padding-top: 15px;
      border-radius: 10px;
      padding-left: 5px;
      padding-right: 5px;
      // margin-top: 20px;
    }
    h2 {
      text-align: center;
    }
    .food-content {
      height: 100px;
      .add_item {
        width: 100%;
        display: flex;
        margin-top: 20px;
        i {
          margin: 5px 10px 0 0;
          font-size: 25px;
        }
        p {
          line-height: 2.5;
          margin-right: 10px;
        }
        .btn-analyze {
          height: 40px;
          width: 130px;
        }
      }
    }
  }
    table.table-hover {
      width: 650px;
   }
  .row.result {
    width: 100%;
    margin-top: 20px;
    .daily-record {
      width: 100%;
      margin: 0 20px;
      h2 {
        text-align: center;
      }
    }
  }
}
@media screen and (min-width: 768px){
  .food {
    height: 100vh;
  }
}
@media screen and (max-width: 767px){
  .food {
    height: 100%;
    .container-fluid {
      display: flex;
      flex-wrap: wrap;
      .result {
        table.table-hover {
          width: 345px;
       }
      }
    }
  }
}
//search_sport
.sport {
  font-size: 14px;
  margin: 30px;
  .row.full {
    .select-sport {
      .sport-sub {
        font-size: 16px;
        margin-bottom: 16px;
        padding: 0 15px;
        display: block;
      }
    }
    .input-group {
      padding: 0 13px;
      .form-control {
        height: 3rem;
        box-shadow: 0 2px 6px rgba(0,0,0,0.08);
        border: 1px solid #E7E7E7;
        &:focus {
          border: 1px solid #1EDD88;
          outline: none !important;
          box-shadow: 0 2px 6px rgba(0,0,0,0.08);
        }
      }
      .input-group-append {
        box-shadow: 0 0 6px rgba(0,0,0,0.08);
      }
    }
    .daily-record {
      .row.sport-record {
        flex-direction: column;
        .columns {
          .column.is-8 {
            button {
              margin-left: 10px;
            }
          }
        }
        h2{
          margin: auto;
          margin-bottom: 10px;
        }
        .actual-record {
          .total-calory {
            color: rgb(255, 0, 0);
          }
          .bg-info {
            th {
              color: #fff;
            }
          }
        }
      }
      .table {
        th, td {
          font-size: 16px;
        }
        td {
        vertical-align: middle;
        }
      }
    }
  }
}
@media screen and (min-width: 768px){
  .sport {
    .daily-record {
      .table {
        th, td {
          font-size: 16px;
        }
        td {
        vertical-align: middle;
        }
      }
      .row.sport-record {
        .columns {
          width: 90%;
          font-size: 1rem;
          margin-left: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
  .section.sport {
    padding: 0;
    .select-sport {
      margin-bottom: 30px;
    }
    .daily-record {
      .row.sport-record {
        .columns {
          font-size: 14px;
          .column {
            justify-content: center;
          }
        }
        .table#query-sport {
          width: 380px;
          table-layout: fixed;
          word-break: break-all;
          th, td {
          font-size: 12px;
          }
        }
        .actual-record {
          padding: 0;
          .table#record-sport{
            width: 380px;
            table-layout: fixed;
            word-break: break-all;
            th, td {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
//others
.others {
  .col.image img{
    width: 100%;
    height: 500px;
    box-shadow: 10px 10px 0px 0px #33ABE6;
  }
  .col.other {
    width: 80%;
    padding: 15px 30px;
    .number-follwers{
      span {
        padding-right: 20px;
      }
    }
    form {
      padding: 15px;
    }
  }
}
.follow-gray{
  float: right;
  color: gray;
}
.follow-red{
  float: right;
  color: red;
}
.modal{
  z-index: 2000 !important;
}
.follow-modal{
  width: 300px !important;
}
.followers-image{
  margin-bottom: 20px;
}
.following-image{
  margin-bottom: 20px;
}
.following-img{
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
}
.followers-img{
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
}
.following-link{
  // display: none !important;
  display: inline-block !important;
  color: #a9a9a9;
}
.follow-states{
  justify-content: space-between;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px){
  .show-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
  .show-card{
    height: 200px;
    width:300px;
    padding-top: 30px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px){
  .show-img{
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  .show-card{
    height: 200px;
    width:300px;
  }
}
.item.introduce {
  background-color:#F0F0F0;
  height: 100%;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  .physical_topic{
    margin-top: 10px;
    text-align: center;
    color:#359382;
    font-size: 30px;
  }
  .col{
  width: 380px;
  padding: 10px; 
  // height: 300px;
  background-color:#F0F9F1;
  border: 1px solid #F0F0F0;
  border-radius:10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom:10px;
  }
  .status{
    margin-left: 2px;
    margin-right: 2px;
    color: mediumturquoise;
  }

}
// // Henry add 0111

.food_create{
  padding-right: 5px;
}
.fas.fa-heart.food_favorite{
  padding-right: 5px;
}

.userfoodrecord{
  width:500px;
  background-color: #EDFAFC;
  border-radius:10px;
  padding:10px;
  margin-top: 20px;
}
.user-food-info{
  background-color: #ECEEEE;
  width: 100%;
  border-radius:10px;
  justify-content: center;
}
.control_fit_food_record{
  // background-color: #EDFBE3;
  margin:5px 5px;
  padding: 2px 2px;
  border-radius:7px;
  // margin: auto;

 }
.tdee{
  display: inline-block;
  color:red;
  text-align: center;
  margin-right: 5px;
}
.count_message{
  display: inline-block;
}
.sum_message{
  display: inline-block;
}

.totalcount{
  display: inline-block;
}

.totalsum{
  display: inline-block;
}
#Add_food_record_type{ 

  // margin-top:20px;
  // padding:10px;
  // width:500px;
  // background-color: #FBF4ED;
  align-items: center;
  // margin:auto;
  text-align: center;
  border-radius:10px;
}
#Add_food_record{
  // margin-top:20px;
  // padding:10px;
  // width:500px;
  // background-color: #FBF4ED;
  align-items: center;
  // // margin:auto;
  text-align: center;
  border-radius:10px;
}
.end_food_search{
  padding-right: 10px;
}
.daily_sport_status{
  width: 95%; // 0117 modify
  background-color:#EDFAFC;
  border-radius:10px;
  text-align: center;
  align-items: center;
  margin: auto;
}
.user-sport-info{
  background-color:#F0F0F0;
  width: 95%;
  margin: auto;
  margin-top: 15px;  
  margin-bottom: 15px;  
  justify-content: center;
  border-radius:10px;
}
.sport_more{
  margin-right: 2px;
}
.sport_fire{
  color: orangered;
}
.card-link-name{
  color: red($color: #000000) !important;
}
.bmi-jquery{
  font-size: 60px;
}
.bmi-modal{
  width: 400px;
}
#Add_food_record_by_user{
  margin: 0 2px;
}
.un-sign{
  width: 99%;
  background-color:#F0F0F0 ;
  padding: 5px;
  padding-left:10px;
  border-radius:10px;
  .user-guide{
    margin-top:10px;
  }
  .control_fit_food_record{
   margin: 5px 2px;
   padding: 1px 1px;
   border-radius: 8px;
   margin: auto;
  }
  .un-sign-status{
    color:red;
    font-weight:bold;
    display: inline-block;
    flex-wrap: wrap;
  }
  
}
.section.food{
  background-image: url(../../assets/images/bg_2.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  // background: linear-gradient(to right,#82DDEA 25%, #B8ECF3 70%);
  
}
.js-type.food_user_name{
  // color: #4DCFE1;
  font-size: 24px;
  font-weight:bold;
  display: inline;
  background-color: #F5FCEF;
  border-radius: 5px;
  justify-content: center;
  padding: 3px 10px;
}
.title.daily_food_status{
  font-size: 28px;
  font-weight:bold;
  display: inline;
  background-color: #F5FCEF;
  border-radius: 5px;
  margin: auto;
  justify-content: center;
  padding: 5px;
}
.section.sport{
  background-image: url(../../assets/images/bg_7.jpg);
  // max-width: 100%;  
  height: 100%;
  object-fit: cover;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  // height: 800px;
  // object-fit: cover
  // background: linear-gradient(to right,#82DDEA 25%, #B8ECF3 70%); 
}
.card-link-name{
  color: red($color: #000000) !important;
}
.bmi-jquery{
  font-size: 60px;
}

.card-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-image .txt{
  height: 300px;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0,0,0,.6);
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: opacity .5s;
  
}
.card-image:hover .txt{
  opacity: 1;
}
// Henry add 0114
// .food_user_name{
//   margin: auto;
//   justify-content: center;
// }
.col-8.col-sm-12.food_user_name{
  margin: auto;
  margin-bottom: 10px;
}
.form-row.food_user_name{
  text-align: center;
  margin-bottom: 5px;
  // margin: auto;

}
.form-row.food_search_bar{
  text-align: center;
  margin-bottom: 5px;
}
.form-row.food_add_button{
  text-align: center;
  margin-bottom: 5px;
}
.form-row.food_add_bar{
  margin-bottom: 10px;
}
.form-row.food_search_result{
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
}
.col-10.col-sm-12.food_search_result{
  margin: auto;
}
#Add_food_record.form-row{
  background-color:#edfafc ;
  border-radius: 10px;
  padding: 0 10px;
}
#Edit_food_record.form-row{
  background-color:#edfafc ;
  border-radius: 10px;
  width:92% ;
  margin: auto;
  margin-left: 14px;
  text-align: center;
}
#Recommend_food_add.form-row{
  background-color:#edfafc ;
  border-radius: 10px;
  width:92% ;
  margin: auto;
  margin-left: 14px;
  text-align: center;
}
.row.daily-record{
  justify-content: center;
}
table.table.user-food-info.dailyfood-rwd{
  display: none;
}
.recommend_name{
  word-break: break-all;
  width: 150px;
}
td.name{
  width: 150px;
  // word-break: break-all;
}
@media screen and (max-width: 767px){
  #foodusertable.daily-record{
    margin: 0 -2px;
  }
  #fooduserRWDstatus.daily-record{
   width: 350px;
   margin: 0 ;
   margin-left: -10px;
  }
  .form-row.food_add_bar{
    margin-top: 10px;
    margin-left: -48px;
  }
  .search_food_result{
    .search_calories{
      display: none;
    }
    .search_protein{
      display: none;
    }
    .search_fat_content{
      display: none;
    }
    .search_carbohydrate{
      display: none;
    }
    .search_name{
      word-break: break-all;
      width: 150px;
    }
  }
  .query_food_color{
    .search_calories{
      display: none;
    }
    .search_protein{
      display: none;
    }
    .search_fat_content{
      display: none;
    }
    .search_carbohydrate{
      display: none;
    }
  }
  .search_rwd{
    display:none;
  }
  #query-food{
    width: 100%;
  }
  #favorite_foodresult {
    // .favorite_index{
    //   display:none;
    // }
    .favorite_carbohydrate{
      display:none;
    }
    .favorite_calories{
      display:none;
    }
    .favorite_protein{
      display:none;
    }
    .favorite_fat_content{
      display:none;
    }
  }
  #favorite-food{
    width: 110%;
    margin-left: -16px;
    .favorite_normal{
      display:none;
    }    
    .favorite_carbohydrate{
      display:none;
    }
    .favorite_calories{
      display:none;
    }
    .favorite_protein{
      display:none;
    }
    .favorite_fat_content{
      display:none;
    }
    .favorite_name{
      word-break: break-all;
      width: 150px;
    }
  }
  #recommend-food{
    width: 100%;
    .recommend_index{
      display:none;
    }
    .recommend_carbohydrate{
      display:none;
    }
    .recommend_calories{
      display:none;
    }
    .recommend_protein{
      display:none;
    }
    .recommend_fat_content{
      display:none;
    }
    td.recommend_name{
      word-break: break-all;
      width: 220px;
    }

  }

  .col-10.col-sm-12.daily_food_status{
    // width: 100%;
    max-width: 100%;
    flex: none;
  }
  .userfoodrecord {
    width: 100%;
  }
  th.eat-habit{
    width:120px;
    word-break: break-all;
  }
  th.sport-habit{
    width:120px;
    word-break: break-all;
  }
  th.time{
    display: none;
  }
  td.time{
    display: none;
  }
  th.index{
    display: none;
  }
  td.index{
    display: none;
  }
  th.qty{
    display: none;
  }
  td.qty{
    display: none;
  }
  td.name{
    width: 150px;
    // word-break: break-all;
  }
  table.table.user-food-info.dailyfood-normal{
    display: none;
  }
  table.table.user-food-info.dailyfood-rwd{
    display: block;
  }
  table#recommend-food.table.table-sm{
    width: 100%;
    text-align: center;
  }
  table#recommend-food.table.table-sm{
    width: 100%;
    text-align: center;
  }
  .form-row.foodlist{
    margin-left: -10px;
    margin-right: -45px;
  }
}

//---------------------------//
.favorite_name{
  word-break: break-all;
  width: 200px;
}

table#daliy-food.table.table-sm{
  width: 90%;
  text-align: center;
  border-radius: 10px;
}
table#recommend-food.table.table-sm{
  width: 650px;
  text-align: center;
  border-radius: 10px;
}
.form-row.editfoodrecord{
  justify-content: center;
  margin-top: 5px;
}
.form-row.recommendfoodrecord{
  justify-content: center;
  margin-top: 5px;
  margin-left: -10px;
}

.sport-un-sign-status{
  padding: 10px;
  .un-sign-status{
    display: inline-block;
    color: red;
  }
  font-size: 16px;
  text-align: left;
  table.control_fit_sport_record{
    margin-top: 15px;
  }
}
table.control_fit_sport_record{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 16px;
}
h2.title.sport-record{
  background-color: #F5FCEF;
  padding: 7px 15px;
  border-radius: 10px;
}

#query-sport.table.table-hover.table-striped{
  width: 680px;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #EDFAFC;
}

// Willy code 
.following-btn{
  width: 103.41px;
  height: 38px;
}
.unfollow-btn{
  background-color: #dc143c;
  color: white;
}
.fa-chart-pie{
  color: #add8e6;
}
.fa-utensils{
  color: #f08080;
}
.fa-running{
  color: #ee82ee;
}
.follow-btn{
  width: 210px;
  height: 35px;
}
.btn-follow{
  background-color: #1e90ff;
  color: white;
}
@media screen and (max-width: 767px){
  .show-food{
    min-width: 300px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px){
  .show-top{
    width: 100%;
    margin: auto;
    display: flex;
  }
  .show-title{
    height: 70px;
  }
}
@media screen and (max-width: 767px){
  .show-top{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
}
.show-body{
  padding: 0;
}
.bmi-range{
  font-size: 16px;
}

//Henry code 0116
table#record-sport.table.table-hover{
  width: 98%; // 0117 modify
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #EDFAFC;
}

.col-md-6.mb-3.sport_usr_name{
  margin: auto;
  max-width: 40%; // 0117 modify
}
.sport-user-name{
  background-color: #F5FCEF;
  font-size: 25px;
  text-align: center;
  padding: 5px 2px;
  border-radius: 10px;
  i{
    padding-right: 5px;
  }
}
.sport .row.full .select-sport{
  padding-right: 5px;
  padding-left: 5px;
}
.sport .row.full .select-sport .sport-sub{
  background-color:#EDFAFC ;
  border-radius: 10px;
  padding: 3px 10px;
  margin-left: 125px;
  display: inline-block;
}
.sportextend{
  height: 750px;
}
.table.user-sport-info.rwd{
  display: none;
}
tr.rwd-sport-query{
  display: none;
 }
.input-group.sport-rwd{
  width: 500px;
  margin: auto;
}
input#searchfood.input{
  max-width: 100%;
  width: 450px;
}
.col-6.col-sm-8.js-type{
  margin: auto;
}
#favorite_food_record.form-row{
  justify-content:center;
}
#favorite-food{
  border-radius: 10px;
}
#query-food{
  border-radius: 10px;
}
@media screen and (max-width: 767px){
  .sportextend{
    height: 400px;
  }
  .col-md-6.mb-3.sport_usr_name{
    max-width: 60%;
    .sport-user-name{
     margin-top: 20px;
     padding: 2px 2px;
     font-size: 20px;
    }
  }
  h2.title.sport-record{
    font-size: 20px;
  }
  .daily_sport_status{
    width:90%;
  }
  .table.user-sport-info{
    display: none;
  }
  .table.user-sport-info.rwd{
    display: block;
    padding: 0 15px;
  }
  .sport-index{
    display: none;
  }  
  .sport-record-time{
    display: none;
  }
  tr.table-primary td.sport-time{
    text-align: center;
  }
  .col.actual-record{
    padding: 0 15px !important;
  }
  table#record-sport.table.table-hover{
    width: 100% !important;
    margin-bottom: 10px;
  }
  table#query-sport.table.table-hover.table-striped{
    width: 100% !important;
   .user-weight{
     display: none;
   }
   .user-sport-min{
    display: none;
   }
  tr.rwd-sport-query{
    display: block;
   }
  }
  .input-group.sport-rwd{
    width: 320px;
    margin: auto;
  }
  .sport .row.full .select-sport .sport-sub{
    margin-left: 37px;
  }
  .col-6.col-sm-8.js-type{
    margin-left:20px;
    padding: 0;
    max-width: 90%;
  }
  input#searchfood.input{
    max-width: 200%;
    width: 250px;
  }
  table#daliy-food.table.table-sm{
    width: 100% ;
  }
  #Edit_food_record.form-row{
    width: 117%;
    margin-left: -10px;
    padding: 0 10px;
  }  
  #Recommend_food_add.form-row{
    width: 117%;
    margin-left: -10px;
    padding: 0 10px;
  }
  .item.introduce{
    max-width: 118%;
    border-radius: 10px;
  }

}
tr.sport-daily-reocrd{
  background-color: #17a2b8;
}
tr.sport-daily-reocrd-cotent{
  background-color:#EDFAFC ;
}
button.btn.btn-outline-info.js-search{
  background-color: #17a2b8;
}
tr.favorite_food_table_color{
  background-color: #17a2b8;
}
tr.favorite_food_result{
  background-color:#EDFAFC ;
}
tbody#recommend{
  background-color:#EDFAFC ;
}
tr.recommend_food_color{
  background-color: #17a2b8;
}
tr.dailyfood-color{
  background-color: #17a2b8;
}
tr.daily_food_result{
  background-color:#EDFAFC ;
}
td.favorite_normal-size{
  width: 120px;
}
tr.query_food_color{
  background-color: #17a2b8;
}
tr.search_food_result{
  background-color:#EDFAFC ;
}
body{
  font-family: ariel, Microsoft JhengHei, STHeiti; 
}
div#main{
  font-family: ariel, Microsoft JhengHei, STHeiti; 
}
@media screen and (max-width: 767px){
  h2.title.daily_food_status{
    font-size: 22px;
    padding: 8px;
  }
  div#fooduserRWDstatus.row.daily-record{
    width: 380px;
    margin-left: -25px;
  }
  table#favorite-food.table.table-hover{
    width: 120%;
    margin-left: -30px;
  }
  .daily_sport_status{
    width: 92%;
  }

}
// 0117 update 
tr.sport-query-color{
  background-color: #17a2b8;
}
tr.sport-query-data{
  background-color:#EDFAFC ;
}